body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1;
} 

.h1, .h2, .h3, .h4, .h5, .h6 {
    font-weight: bold;
} 

.weather-search {
    width:100%;
    display:block;
}

button {
    width:100%;
    display:block;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
}

.weather-hr {
    border: none;
    height: 3px;
    background-color: black;
}

.weather-header {
    background-color: rgb(126, 24, 173);
}

.search-button {
    background-color: rgb(17, 100, 155);
}

.card {
    background-color: aquamarine;
    padding: 3px;
    padding-right: 3vw;
}

img {
    width: 50px;  
    height: auto;  
}

#today {
    border: solid 1px black;
    padding: 3px;
    background-color: cadetblue;
}

#forecast {
    margin: auto;
    justify-content: space-between;
}
#hist-btn {
    background-color: gray;
}